//////////////////////// Sass Prerequisites //////////////////////////
// scrollbar and selection restyling
@import "_scrollbar";
// colors
$midBlue: #00a2eb;
$dimBlue: #017ab1;
$lightBlue: #9be0ff;
$veryLightBlue: #e8f8ff;
$darkBlue: #004B6E;

// picture
$picOfMe: url("../images/picofme-bg-grey.png");
// necessary mixins
@mixin border-radius($val...) {
	-ms-border-radius: $val;
	-moz-border-radius: $val;
	-webkit-border-radius: $val;
	border-radius: $val;
}
@mixin box-shadow($val...) {
	-ms-box-shadow: $val;
	-moz-box-shadow: $val;
	-webkit-box-shadow: $val;
	box-shadow: $val;
}
@mixin transformR($val...) {
	-ms-transform: rotate($val);
	-moz-transform: rotate($val);
	-webkit-transform: rotate($val);
	transform: rotate($val);
}
@mixin transformS($val) {
	-ms-transform: scale($val);
	-moz-transform: scale($val);
	-webkit-transform: scale($val);
	transform: scale($val);
}
@mixin transformRS($rot, $scale...) {
	-ms-transform: rotate( $rot ) scale( $scale );
	-moz-transform: rotate( $rot ) scale( $scale );
	-webkit-transform: rotate( $rot ) scale( $scale );
	transform: rotate( $rot ) scale( $scale );
}
@mixin transformT($val...) {
	-ms-transform: translate($val);
	-moz-transform: translate($val);
	-webkit-transform: translate($val);
	transform: translate($val);
}
@mixin transformST($val1, $val2...) {
	-ms-transform: scale($val1) translate($val2);
	-moz-transform: scale($val1) translate($val2);
	-webkit-transform: scale($val1) translate($val2);
	transform: scale($val1) translate($val2);
}
@mixin media-min($val) {
	@media screen and (min-width: $val) {
		@content;
	}
}
@mixin media-max($val) {
	@media screen and (max-width: $val) {
		@content;
	}
}
@mixin animation($name, $time, $itter) {
	/*moz*/
  -moz-animation: $name $time linear 0s $itter normal running;
  /*webkit*/
  -webkit-animation: $name $time linear 0s $itter normal running;
  /*standard*/
  animation: $name $time linear 0s $itter normal running;
}
@mixin keyframes($val) {
	/*---- media query for $val ----*/
	@-moz-keyframes #{$val} {
		@content;
	}
	@-webkit-keyframes #{$val} {
		@content;
	}
	@keyframes #{$val} {
		@content;
	}
}
@mixin background-gradient($deg, $colors...) {
	-ms-background: linear-gradient($deg, $colors);
	-moz-background: linear-gradient($deg, $colors);
	-webkit-background: linear-gradient($deg, $colors);
	background: linear-gradient($deg, $colors);
}
@mixin linear-gradient($deg, $colors...) {
	background: linear-gradient($deg, $colors);
	background: -moz-linear-gradient($deg, $colors);
	background: -webkit-linear-gradient($deg, $colors);
}
///////////////////// Main Styling /////////////////////////////////
/*///////////////////////// prerequisites /////////////////////////*/
/* css resets */
*, *:before, *:after {
	font-family: sans-serif;
	transition: all .2s ease-in-out;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: $darkBlue;
	font-weight: bold;
}

body {
	margin: 0;
	background: $lightBlue;
	margin-top: 4em;
}

ul, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

li {
	list-style: none
}
.unset {
	padding: 0;
	margin: 0;
}
header, section, footer {
	display: block;
}
.a-tag {
	cursor: pointer;
	font-weight: bold;
}
.external-link {
	position: relative;
	padding: 0 1em 0 0;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		background: url("../images/new-win.png");
		background-size: contain;
		width: 18px;
		height: 18px;
	}
}
.parent {
	position: relative;
}
#loading-icon {
	z-index: 10;
	position: fixed;
	top: 49.5%;
	left: 49.5%;
	margin: 0em auto;
	width: -3em;
	height: 3em;
	border: .5em solid $darkBlue;
	border-color: $darkBlue transparent $darkBlue transparent;
	@include border-radius(100%);
}
.separator {
	display: block;
	height: 4px;
	margin: 2em 0;
}
.separator2 {
	display: block;
	height: 4px;
	margin: 1em 0;
}
section {
	position: relative;
	padding: 14em 0;
}
.page-wrap {
	position: relative;
	display: block;
	max-width: 1200px;
	margin: 0 auto;
}
.pad1-top {
	padding: 4em 0 0em;
}
.pad1-even {
	padding: 2em 0 2em;
}
.pad2-even {
	padding: 1em 0 1em;
}
.pad1-bottom {
	padding: 0em 0 4em;
}
.img-contain img{
	max-width: 100%;
	max-height: 100%;
}
.img-cover img{
	max-width: 100%;
	text-align: center;
}
.border-1 {
	border: .5em solid $midBlue !important;
}
.padding-1 {
	padding: .5em !important;
}
.padding-2 {
	padding: 1em !important;
}
.margin-1 {
	margin: .5em !important;
}
.margin-2 {
	margin: 1em !important;
}
.mid-blue {
	color: $midBlue;
}
.mid-blue-bg {
	background: $midBlue;
}
.dim-blue {
	color: $dimBlue;
}
.dim-blue-bg {
	background: $dimBlue;
}
.light-blue {
	color: $lightBlue;
}
.light-blue-bg {
	background: $lightBlue;
}
.very-light-blue {
	color: $veryLightBlue;
}
.very-light-blue-bg {
	background: $veryLightBlue;
}
.dark-blue {
	color: $darkBlue;
}
.dark-blue-bg {
	background: $darkBlue;
}
.underline {
	text-decoration: underline;
}
.left-justify {
	text-align: left;
}
.center-justify {
	text-align: center;
}
.right-justify {
	text-align: right;
}
@include media-max(800px) {
	.left-justify-mobile {
		text-align: left;
	}
	.center-justify-mobile {
		text-align: center;
	}
	.right-justify-mobile {
		text-align: right;
	}
}
.align-top {
	vertical-align: top;
}
.align-middle {
	vertical-align: text-middle;
}
.align-bottom {
	vertical-align: bottom;
}
.large-text {
	font-size: 3em;
}
.big-text {
	font-size: 2.5em;
}
.med-text {
	font-size: 2em;
}
.inc-md-size-text {
	font-size: 1.5em;
}
.inc-sm-size-text {
	font-size: 1.2em;
}
.small-text {
	font-size: .8em;
}
.bolding {
	font-weight: bold;
}
.col-two {
	display: inline-block;
	width: 50%;
}
.col-three {
	display: inline-block;
	width: 33%;
}
.col-two-perm {
	display: inline-block;
	width: 50%;
}
.col-three-perm {
	display: inline-block;
	width: 33%;
}
.blocker {
	display: block;
}
.inliner {
	display: inline-block;
}
.line-spacer {
	margin: .5em auto;
	max-width: 50%;
	height: 4px;
}
.button {
	display: inline-block;
	padding: .5em .5em .4em;
	@include border-radius(1em);
	background: $dimBlue;
	color: $veryLightBlue;
	vertical-align: text-bottom;
}
////// media query pre-reqs /////////////
@include media-max(800px) {
	.col-two {
		display: block;
		width: 100%;
	}
	.col-three {
		display: block;
		width: 100%;
	}
}
/*///////////////////////// content styling /////////////////////////*/
/* header ----------------------------*/
header {
	z-index: 4;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4em;
	@include linear-gradient(90deg, $midBlue, $dimBlue);
	box-shadow: 0 0 .2em 0 $dimBlue;
}
#logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 12em;
	height: 100%;
	background: url("../images/logo.png") no-repeat;
	background-size: contain;
}
nav {
	position: absolute;
	bottom: 0;
	right: 2em;
	@include box-shadow(2em 0 0 0 $veryLightBlue);
	font-size: 15px;
	span, a {
		display: inline-block;
	}
}
.nav-item {
	display: inline-block;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
	padding: .7em .5em;
	color: $veryLightBlue;
}
#sub-nav {
	position: absolute;
	top: 2em;
	left: 0;
	height: 0;
	width: 100%;
	//display: none;
	overflow-y: hidden;
	background: $midBlue;
	box-shadow: 1px 0 0 0 $veryLightBlue, -1px 0 0 0 $veryLightBlue, 0 1px 0 0 $veryLightBlue;
	li {
		font-size: .8em;
		text-align: center;
		a {
			padding: .5em .5em;
			color: $veryLightBlue;
			width: 100%;
		}
	}
}
.hover-fill {
	@include box-shadow(inset 0 -.0em 0 0 $veryLightBlue, 0 0em 0 0 $veryLightBlue);
}
body.home #home.hover-fill,
body.about #about.hover-fill,
body.portfolio #portfolio.hover-fill,
body.webs #webs.hover-fill,
body.logos #logos.hover-fill,
body.jerseys #jerseys.hover-fill,
body.socials #socials.hover-fill,
body.outros #outros.hover-fill,
body.overlays #overlays.hover-fill,
body.webp #webp.hover-fill,
body.blog #blog.hover-fill,
body.pens #pens.hover-fill{
	@include box-shadow(inset 0 -.2em 0 0 $veryLightBlue);
}
/* body ------------------------------*/
#page-insertion {
	z-index: 0;
}

/* home /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/
.front-page-button {
	margin: 0 auto;
}
.picofme-bg:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $picOfMe no-repeat;
	background-position: left top;
	background-size: cover;
	opacity: .3;
}
.previews {
	position: relative;
	text-align: center;
}
.previews div {
	margin: 0 auto;
	max-height: 100%;
	text-align: center;
	overflow: hidden;
}
/* bio /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/
.valid {
	box-shadow: 0 0 0 2px rgba(0, 255, 240, 1)
}
.invalid {
	box-shadow: 0 0 0 2px rgba(255, 0, 0, 1)
}
#ct-box input, #ct-box textarea {
  margin: 0 auto 1em;
  border-radius: 1em;
  background-color: white;
  border: 0 solid $lightBlue;
  font-size: 1.3em;
  padding: .1em .5em;
  transition: all 0s;
}
#ct-box {
	input {
	  width: 100%;
	  max-width: 20em;
  }
	textarea {
	  width: 100%;
	  resize: vertical;
	}
	input:last-child {
	  width: 5em;
	  height: 2em;
	}
}
/* portfolio /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/
.portfolio-container {
	display: block;
	margin: 0 auto;
	max-width: 64em;
}
.no-event {
	pointer-events: none;
}
.yes-event {
	pointer-events: initial;
}
.item-box {
	position: relative;
	display: inline-block;
	margin: .5em;
	width: 20em;
	height: 20em;
	overflow: hidden;
	background: $midBlue;
	&:before {
		z-index: 1;
		content: "";
		opacity: .7;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include background-gradient(45deg, transparent, $veryLightBlue, transparent);
	}
	&:after {
		z-index: 1;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 0 0 .4em $midBlue;
	}
}
.item-box2 {
	position: relative;
	display: inline-block;
	margin: .5em;
	padding: 1em;
	min-height: 7em;
	width: 100%;
	background: $midBlue;
	&:before {
		z-index: 1;
		content: "";
		opacity: .7;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include background-gradient(45deg, transparent, $veryLightBlue, transparent);
	}
	&:after {
		z-index: 1;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 0 0 .4em $midBlue;
	}
}
.total-center {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transformT(-50%, -50%);
}
#lightbox {
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	opacity: 0;
}
.lightbox-open {
	display: block !important;
	opacity: 1 !important;
}
#backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
}
#img-box {
	position: fixed;
	top: 50%;
	left: 50%;
	@include transformT(-50%, -50%);
	width: 70%;
	height: 60%;
	text-align: center;
	pointer-events: none;
	& img {
		box-shadow: 0 0 0 .2em $midBlue;
		border-radius: .4em;
		background: $lightBlue;
		pointer-events: auto;
	}
}
#port-prev-btn, #port-next-btn {
	position: fixed;
	top: 0;
	cursor: pointer;
  background: rgba(0, 0, 0, .2);
	width: 18%;
	height: 100%;
	& > div {
		pointer-events: none;
		position: relative;
		width: 100%;
		height: 100%;
		& div {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transformT(-50%, -50%);
			border-bottom: 2em solid transparent;
  		border-top: 2em solid transparent;
		}
	}
}
#port-prev-btn {
	left: 0;
	& > div div {
  border-right: 2em solid rgba(0, 0, 0, .5);
	}
}
#port-next-btn {
	right: 0;
	& > div div {
  border-left: 2em solid rgba(0, 0, 0, .5);
	}
}
#description {
	position: fixed;
	top: 50%;
	left: 50%;
	@include transformT(-50%, -50%);
	width: 70%;
	height: 0%;
	display: none;
	background: $dimBlue;
	box-shadow: 0 0 0 .2em $midBlue;
	border-radius: .4em;
	color: $veryLightBlue;
	overflow-y: auto;
	padding: .4em;
	transition: all .5s;
}
.desc-open {
	display: block !important;
	height: 60% !important;
}
#subtitle {
	position: fixed;
	bottom: 2em;
	left: 50%;
	@include transformT(-50%, 0);
	padding: .9em 1em .8em;
	color: $veryLightBlue;
	font-size: 1.5em;
	background: $dimBlue;
	box-shadow: 0 0 0 .2em $midBlue;
	border-radius: 3em;
}
#close {
	position: fixed;
	top: 1em;
	right: 1em;
	padding: .4em .5em .3em;
	background: $dimBlue;
	box-shadow: 0 0 0 .2em $midBlue;
	color: $veryLightBlue;
	border-radius: .4em;
}
#disclaimer {
	margin: 2em 0 0; 
	text-align: center;
	& span {
		display: block;
		color: red;
		font-size: .7em;
		margin: 2em 0 0;
	}
}
/* blog /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/
.blogs-container {
	background: $midBlue;
	border-radius: 1em;
	padding: 1em;
}
.blog-item {
	background: $lightBlue;
	border-radius: .8em;
	padding: 1em;
}
.blog-title {
	margin: 0 0 2em;
}
.blog-time {
	margin: 0 0 2em;
}
#blog-prev-btn, #blog-next-btn {
	cursor: pointer;
  background-color: $veryLightBlue;
  padding: .4em;
  margin: 0 1em .5em;
  display: inline-block;
	width: 4.4em;
	text-align: center;
}
#blog-prev-btn {
	border-radius: 2em 1em 1em 2em;
}
#blog-next-btn {
	border-radius: 1em 2em 2em 1em;
}
.img-sourced {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 80%;
	max-height: 40em;
	text-align: center;
	& img {
		max-width: 100%;
		max-height: 100%;
		border: 1em solid $midBlue;
		border-bottom: 2em solid $midBlue;
		border-radius: .5em;
	}
	& a {
		position: absolute;
		bottom: 1.7em;
		left: 50%;
		@include transformT(-50%, 0);
		text-align: center;
		color: $veryLightBlue;
		font-weight: bold;
	}
}
#disqus_thread {
	background: $lightBlue;
	border-radius: .8em;
	padding: 1em;
}
/* pens /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/
.pens-container div{
	margin: 0 1em;
}
/* footer ----------------------------*/
footer {
	position: relative;
	margin-top: 2em;
	background: $midBlue;
	height: 7em;
	.std-footer-text {
		position: absolute;
		display: inline-block;
		color: $veryLightBlue;
		left: 1em;
		bottom: 1em;
		span {
			color: $veryLightBlue;
		}
	}
	#social-icons {
		position: absolute;
		top: 1em;
		right: 1em;
		padding: .3em .4em .1em;
		@include border-radius(.5em);
		background: $lightBlue;
		div {
			display: inline-block;
			margin: .2em;
		}
	}
}
#social-icons, .social-icons {
	a {
		position: relative;
		&:before {
			content: url("../images/new-win2.png");
			position: absolute;
			left: 0;
			opacity: 0;
		}
		&:hover:before {
			opacity: .7;
		}
	}
}

/* hover events -----------------------*/
.button:hover {
	background: $veryLightBlue;
	color: $dimBlue;
}
.parent:hover #sub-nav {
	height: 192px;
}
.hover-fill:hover{
	@include box-shadow(inset 0 -6em 0 0 $veryLightBlue, 0 0em 0 0 $veryLightBlue !important);
}
#sub-nav li.hover-fill:last-child:hover a {
	@include box-shadow(inset 0 -6em 0 0 $veryLightBlue, 0 2em 0 0 $veryLightBlue !important);
}
.hover-fill:hover, .hover-fill:hover > .a-tag {
	color: $midBlue !important;
}
.item-box:hover:before {
	opacity: .8;
}
#port-prev-btn, #port-next-btn {
	&:hover {
		background: rgba(0, 150, 240, .4);
	}
}
#port-prev-btn {
	& > div div {
  border-right: 2em solid rgba(0, 200, 255, .7);
	}
}
#port-next-btn {
	& > div div {
  border-left: 2em solid rgba(0, 200, 255, .7);
	}
}
/*//////////////////////// media queries ////////////////////////*/
@include media-max(1040px) {
	.item-box {
		width: 15em;
		height: 15em;
	}
}
@include media-max(800px) {
	/* header */
	#mo-nav {
	  position: fixed;
	  top: .3em;
	  right: .3em;
	  width: 3em;
	  height: 3em;
	  border: .2em solid $veryLightBlue;
	  border-radius: 10px;
	  transitions: all 0s;
		& div {
		  background: $veryLightBlue;
		  height: .5em;
		  margin: .3em .2em;
		  border-radius: 2em;
		}
	}
	nav {
		position: absolute;
		display: none;
		top: 100%;
		right: 0;
		@include box-shadow(0 0 0 0 transparent);
		width: 49.7%;
		span {
			display: block;
		}
	}
	.nav-item {
		display: block;
		border-left: 2px solid $veryLightBlue;
		border-right: 2px solid $veryLightBlue;
		nav > &:first-child {
			border-left: 2px solid $veryLightBlue;
			border-top: 2px solid $veryLightBlue;
		}
		&:last-child {
			border-right: 2px solid $veryLightBlue;
			border-bottom: 2px solid $veryLightBlue;
		}
	}
	.hover-fill {
		background: $midBlue;
	}
	#sub-nav {
		position: absolute;
		display: none;
		top: 0em;
		left: initial;
		right: 100%;
		height: 0;
		width: 100%;
		border: 2px solid $veryLightBlue;
	}
	.open {
		display: block !important;
		height: auto !important;
	}
	/* about */
	#ct-box {
		input {
		  width: 100%;
		  max-width: 100%;
	  }
		textarea {
		  width: 100%;
		  resize: vertical;
		}
		input:last-child {
		  width: 100%;
		  height: 2em;
		}
	}
	/* body */
	/* portfolio */
	.item-box {
		width: 90%;
		height: 25em;
	}
	/* footer */
	footer {
		height: 10em;
	}
	/* hover events -----------------------*/
}

/*//////////////////////// animations ////////////////////////*/
/* loading icon */
#loading-icon {
	@include animation(spin, .3s, infinite);
}
@include keyframes(spin) {
	0% {
		@include transformR(0deg);
	}
	100% {
		@include transformR(360deg);
	}
}