::-webkit-scrollbar {
  width: 14px; }

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em; }

::-webkit-scrollbar-track-piece:active {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #00a2eb;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em; }

::-webkit-scrollbar-thumb:hover {
  background-color: #e8f8ff; }

::-webkit-scrollbar-thumb:active {
  background-color: #00a2eb; }

::-webkit-scrollbar-button {
  background-color: #00a2eb;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em; }

::-webkit-scrollbar-button:hover {
  background-color: #e8f8ff; }

::-webkit-scrollbar-button:active {
  background-color: #00a2eb; }

::-webkit-scrollbar-corner {
  background-color: #1b002e; }

::selection {
  background: #017ab1;
  color: #e8f8ff; }

::selection:window-inactive {
  background-color: #00a2eb;
  color: #e8f8ff; }

/*///////////////////////// prerequisites /////////////////////////*/
/* css resets */
*, *:before, *:after {
  font-family: sans-serif;
  transition: all .2s ease-in-out;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #1b002e;
  font-weight: bold; }

body {
  margin: 0;
  background: #9be0ff;
  margin-top: 4em; }

ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.unset {
  padding: 0;
  margin: 0; }

header, section, footer {
  display: block; }

.a-tag {
  cursor: pointer;
  font-weight: bold; }

.external-link {
  position: relative;
  padding: 0 1em 0 0; }
  .external-link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/new-win.png");
    background-size: contain;
    width: 18px;
    height: 18px; }

.parent {
  position: relative; }

#loading-icon {
  position: fixed;
  top: 49.5%;
  left: 49.5%;
  margin: 0em auto;
  width: -3em;
  height: 3em;
  border: 0.5em solid #1b002e;
  border-color: #1b002e transparent #1b002e transparent;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%; }

.separator {
  display: block;
  height: 4px;
  margin: 2em 0; }

.separator2 {
  display: block;
  height: 4px;
  margin: 1em 0; }

section {
  position: relative;
  padding: 14em 0; }

.page-wrap {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto; }

.pad1-top {
  padding: 4em 0 0em; }

.pad1-even {
  padding: 2em 0 2em; }

.pad1-bottom {
  padding: 0em 0 4em; }

.img-contain img {
  max-width: 100%;
  max-height: 100%; }

.img-cover img {
  max-width: 100%;
  text-align: center; }

.border-1 {
  border: 0.5em solid #00a2eb !important; }

.padding-1 {
  padding: .5em !important; }

.padding-2 {
  padding: 1em !important; }

.margin-1 {
  margin: .5em !important; }

.margin-2 {
  margin: 1em !important; }

.mid-blue {
  color: #00a2eb; }

.mid-blue-bg {
  background: #00a2eb; }

.dim-blue {
  color: #017ab1; }

.dim-blue-bg {
  background: #017ab1; }

.light-blue {
  color: #9be0ff; }

.light-blue-bg {
  background: #9be0ff; }

.very-light-blue {
  color: #e8f8ff; }

.very-light-blue-bg {
  background: #e8f8ff; }

.purple {
  color: #4a007e; }

.purple-bg {
  background: #4a007e; }

.dark-purple {
  color: #1b002e; }

.dark-purple-bg {
  background: #1b002e; }

.underline {
  text-decoration: underline; }

.left-justify {
  text-align: left; }

.center-justify {
  text-align: center; }

.right-justify {
  text-align: right; }

@media screen and (max-width: 800px) {
  .left-justify-mobile {
    text-align: left; }

  .center-justify-mobile {
    text-align: center; }

  .right-justify-mobile {
    text-align: right; } }
.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: text-middle; }

.align-bottom {
  vertical-align: bottom; }

.large-text {
  font-size: 3em; }

.big-text {
  font-size: 2.5em; }

.med-text {
  font-size: 2em; }

.inc-md-size-text {
  font-size: 1.5em; }

.inc-sm-size-text {
  font-size: 1.2em; }

.small-text {
  font-size: .8em; }

.bolding {
  font-weight: bold; }

.col-two {
  display: inline-block;
  width: 50%; }

.col-three {
  display: inline-block;
  width: 33%; }

.col-two-perm {
  display: inline-block;
  width: 50%; }

.col-three-perm {
  display: inline-block;
  width: 33%; }

.blocker {
  display: block; }

.inliner {
  display: inline-block; }

.line-spacer {
  margin: .5em auto;
  max-width: 50%;
  height: 4px; }

.button {
  display: inline-block;
  padding: .5em .5em .4em;
  -ms-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background: #017ab1;
  color: #e8f8ff;
  vertical-align: text-bottom; }

@media screen and (max-width: 800px) {
  .col-two {
    display: block;
    width: 100%; }

  .col-three {
    display: block;
    width: 100%; } }
/*///////////////////////// content styling /////////////////////////*/
/* header ----------------------------*/
header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background: #00a2eb;
  -ms-box-shadow: inset 0 2em 0 0 #017ab1;
  -moz-box-shadow: inset 0 2em 0 0 #017ab1;
  -webkit-box-shadow: inset 0 2em 0 0 #017ab1;
  box-shadow: inset 0 2em 0 0 #017ab1; }

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 12em;
  height: 100%;
  background: url("../images/logo.png") no-repeat;
  background-size: contain; }

nav {
  position: absolute;
  bottom: 0;
  right: 2em;
  -ms-box-shadow: 2em 0 0 0 #e8f8ff;
  -moz-box-shadow: 2em 0 0 0 #e8f8ff;
  -webkit-box-shadow: 2em 0 0 0 #e8f8ff;
  box-shadow: 2em 0 0 0 #e8f8ff; }
  nav span {
    display: inline-block; }

.nav-item {
  display: inline-block;
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  padding: .7em .5em;
  color: #e8f8ff;
  border-left: 2px solid #e8f8ff;
  border-right: 2px solid #e8f8ff; }
  nav > .nav-item:first-child {
    border-left: 0px solid #e8f8ff; }
  .nav-item:last-child {
    border-right: 0px solid #e8f8ff; }

#sub-nav {
  position: absolute;
  top: 2em;
  left: 0;
  height: 0;
  width: 100%;
  overflow-y: hidden;
  background: #00a2eb; }
  #sub-nav li {
    font-size: .8em;
    text-align: center; }
    #sub-nav li span {
      padding: .5em .5em;
      color: #e8f8ff; }

.hover-fill {
  -ms-box-shadow: inset 0 0em 0 0 #e8f8ff;
  -moz-box-shadow: inset 0 0em 0 0 #e8f8ff;
  -webkit-box-shadow: inset 0 0em 0 0 #e8f8ff;
  box-shadow: inset 0 0em 0 0 #e8f8ff; }

body.home #home.hover-fill,
body.about #about.hover-fill,
body.portfolio #portfolio.hover-fill,
body.webs #webs.hover-fill,
body.logos #logos.hover-fill,
body.jerseys #jerseys.hover-fill,
body.socials #socials.hover-fill,
body.outros #outros.hover-fill,
body.overlays #overlays.hover-fill,
body.webp #webp.hover-fill,
body.blog #blog.hover-fill,
body.pens #pens.hover-fill {
  -ms-box-shadow: inset 0 -0.2em 0 0 #e8f8ff;
  -moz-box-shadow: inset 0 -0.2em 0 0 #e8f8ff;
  -webkit-box-shadow: inset 0 -0.2em 0 0 #e8f8ff;
  box-shadow: inset 0 -0.2em 0 0 #e8f8ff; }

/* body ------------------------------*/
#page-insertion {
  z-index: 0; }

/* home /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/
.front-page-button {
  margin: 0 auto; }

.picofme-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/picofme-bg-grey.png") no-repeat;
  background-position: left top;
  background-size: cover;
  opacity: .3; }

.previews {
  position: relative;
  text-align: center; }

.previews div {
  margin: 0 auto;
  max-height: 100%;
  text-align: center;
  overflow: hidden; }

/* bio /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/
.valid {
  box-shadow: 0 0 0 2px #00fff0; }

.invalid {
  box-shadow: 0 0 0 2px red; }

#ct-box input, #ct-box textarea {
  margin: 0 auto 1em;
  border-radius: 1em;
  background-color: white;
  border: 0 solid #9be0ff;
  font-size: 1.3em;
  padding: .1em .5em;
  transition: all 0s; }

#ct-box input {
  width: 100%;
  max-width: 20em; }
#ct-box textarea {
  width: 100%;
  resize: vertical; }
#ct-box input:last-child {
  width: 5em;
  height: 2em; }

/* portfolio /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/
.portfolio-container {
  display: block;
  margin: 0 auto;
  max-width: 64em; }

.no-event {
  pointer-events: none; }

.yes-event {
  pointer-events: initial; }

.item-box {
  position: relative;
  display: inline-block;
  margin: .5em;
  width: 20em;
  height: 20em;
  overflow: hidden;
  background: #00a2eb; }
  .item-box:before {
    z-index: 1;
    content: "";
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -ms-background: linear-gradient(45deg, transparent, #e8f8ff, transparent);
    -moz-background: linear-gradient(45deg, transparent, #e8f8ff, transparent);
    -webkit-background: linear-gradient(45deg, transparent, #e8f8ff, transparent);
    background: linear-gradient(45deg, transparent, #e8f8ff, transparent); }
  .item-box:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 0.4em #00a2eb; }

.total-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#lightbox {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0; }

.lightbox-open {
  display: block !important;
  opacity: 1 !important; }

#backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }

#img-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: 60%;
  text-align: center;
  pointer-events: none; }
  #img-box img {
    box-shadow: 0 0 0 0.2em #00a2eb;
    border-radius: .4em;
    background: #9be0ff;
    pointer-events: auto; }

#port-prev-btn, #port-next-btn {
  position: fixed;
  top: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  width: 18%;
  height: 100%; }
  #port-prev-btn > div, #port-next-btn > div {
    pointer-events: none;
    position: relative;
    width: 100%;
    height: 100%; }
    #port-prev-btn > div div, #port-next-btn > div div {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-bottom: 2em solid transparent;
      border-top: 2em solid transparent; }

#port-prev-btn {
  left: 0; }
  #port-prev-btn > div div {
    border-right: 2em solid rgba(0, 0, 0, 0.5); }

#port-next-btn {
  right: 0; }
  #port-next-btn > div div {
    border-left: 2em solid rgba(0, 0, 0, 0.5); }

#description {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: 0%;
  display: none;
  background: #017ab1;
  box-shadow: 0 0 0 0.2em #00a2eb;
  border-radius: .4em;
  color: #e8f8ff;
  overflow-y: auto;
  padding: .4em;
  transition: all .5s; }

.desc-open {
  display: block !important;
  height: 60% !important; }

#subtitle {
  position: fixed;
  bottom: 2em;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: .9em 1em .8em;
  color: #e8f8ff;
  font-size: 1.5em;
  background: #017ab1;
  box-shadow: 0 0 0 0.2em #00a2eb;
  border-radius: 3em; }

#close {
  position: fixed;
  top: 1em;
  right: 1em;
  padding: .4em .5em .3em;
  background: #017ab1;
  box-shadow: 0 0 0 0.2em #00a2eb;
  color: #e8f8ff;
  border-radius: .4em; }

#disclaimer {
  margin: 2em 0 0;
  text-align: center; }
  #disclaimer span {
    display: block;
    color: red;
    font-size: .7em;
    margin: 2em 0 0; }

/* blog /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/
.blogs-container {
  background: #00a2eb;
  border-radius: 1em;
  padding: 1em; }

.blog-item {
  background: #9be0ff;
  border-radius: .8em;
  padding: 1em; }

.blog-title {
  margin: 0 0 2em; }

.blog-time {
  margin: 0 0 2em; }

#blog-prev-btn, #blog-next-btn {
  cursor: pointer;
  background-color: #e8f8ff;
  padding: .4em;
  margin: 0 1em .5em;
  display: inline-block;
  width: 4em; }

#blog-prev-btn {
  border-radius: 2em 1em 1em 2em; }

#blog-next-btn {
  border-radius: 1em 2em 2em 1em; }

.img-sourced {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 80%;
  max-height: 40em;
  text-align: center; }
  .img-sourced img {
    max-width: 100%;
    max-height: 100%;
    border: 1em solid #00a2eb;
    border-bottom: 2em solid #00a2eb;
    border-radius: .5em; }
  .img-sourced a {
    position: absolute;
    bottom: 1.7em;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    color: #e8f8ff;
    font-weight: bold; }

#disqus_thread {
  background: #9be0ff;
  border-radius: .8em;
  padding: 1em; }

/* pens /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/
.pens-container div {
  margin: 0 1em; }

/* footer ----------------------------*/
footer {
  position: relative;
  margin-top: 2em;
  background: #00a2eb;
  height: 7em; }
  footer .std-footer-text {
    position: absolute;
    display: inline-block;
    color: #e8f8ff;
    left: 1em;
    bottom: 1em; }
    footer .std-footer-text span {
      color: #e8f8ff; }
  footer #social-icons {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: .3em .4em .1em;
    -ms-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    background: #9be0ff; }
    footer #social-icons div {
      display: inline-block;
      margin: .2em; }

#social-icons a, .social-icons a {
  position: relative; }
  #social-icons a:before, .social-icons a:before {
    content: url("../images/new-win2.png");
    position: absolute;
    left: 0;
    opacity: 0; }
  #social-icons a:hover:before, .social-icons a:hover:before {
    opacity: .7; }

/* hover events -----------------------*/
.button:hover {
  background: #e8f8ff;
  color: #017ab1; }

.parent:hover #sub-nav {
  height: 12em; }

.hover-fill:hover {
  -ms-box-shadow: inset 0 -6em 0 0 #e8f8ff !important;
  -moz-box-shadow: inset 0 -6em 0 0 #e8f8ff !important;
  -webkit-box-shadow: inset 0 -6em 0 0 #e8f8ff !important;
  box-shadow: inset 0 -6em 0 0 #e8f8ff !important; }

.hover-fill:hover, .hover-fill:hover > .a-tag {
  color: #00a2eb !important; }

.item-box:hover:before {
  opacity: .8; }

#port-prev-btn:hover, #port-next-btn:hover {
  background: rgba(0, 150, 240, 0.4); }

#port-prev-btn > div div {
  border-right: 2em solid rgba(0, 200, 255, 0.7); }

#port-next-btn > div div {
  border-left: 2em solid rgba(0, 200, 255, 0.7); }

/*//////////////////////// media queries ////////////////////////*/
@media screen and (max-width: 1040px) {
  .item-box {
    width: 15em;
    height: 15em; } }
@media screen and (max-width: 800px) {
  /* header */
  #mo-nav {
    position: fixed;
    top: .3em;
    right: .3em;
    width: 3em;
    height: 3em;
    border: 0.2em solid #e8f8ff;
    border-radius: 10px;
    transitions: all 0s; }
    #mo-nav div {
      background: #e8f8ff;
      height: .5em;
      margin: .3em .2em;
      border-radius: 2em; }

  nav {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    -ms-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    width: 49.7%; }
    nav span {
      display: block; }

  .nav-item {
    display: block;
    border-left: 2px solid #e8f8ff;
    border-right: 2px solid #e8f8ff; }
    nav > .nav-item:first-child {
      border-left: 2px solid #e8f8ff;
      border-top: 2px solid #e8f8ff; }
    .nav-item:last-child {
      border-right: 2px solid #e8f8ff;
      border-bottom: 2px solid #e8f8ff; }

  .hover-fill {
    background: #00a2eb; }

  #sub-nav {
    position: absolute;
    display: none;
    top: 0em;
    left: initial;
    right: 100%;
    height: 0;
    width: 100%;
    border: 2px solid #e8f8ff; }

  .open {
    display: block !important;
    height: auto !important; }

  /* about */
  #ct-box input {
    width: 100%;
    max-width: 100%; }
  #ct-box textarea {
    width: 100%;
    resize: vertical; }
  #ct-box input:last-child {
    width: 100%;
    height: 2em; }

  /* body */
  /* portfolio */
  .item-box {
    width: 90%;
    height: 25em; }

  /* footer */
  footer {
    height: 10em; }

  /* hover events -----------------------*/ }
/*//////////////////////// animations ////////////////////////*/
/* loading icon */
#loading-icon {
  /*moz*/
  -moz-animation: spin 0.3s linear 0s infinite normal running;
  /*webkit*/
  -webkit-animation: spin 0.3s linear 0s infinite normal running;
  /*standard*/
  animation: spin 0.3s linear 0s infinite normal running; }

/*---- media query for $val ----*/
@-moz-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
