::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
}

::-webkit-scrollbar-track-piece:active {
  background-color: #017ab1;
}

::-webkit-scrollbar-thumb {
  background-color: #00a2eb;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e8f8ff;
}

::-webkit-scrollbar-thumb:active {
  background-color: #00a2eb;
}

::-webkit-scrollbar-button {
  background-color: #00a2eb;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
}

::-webkit-scrollbar-button:hover {
  background-color: #e8f8ff;
}

::-webkit-scrollbar-button:active {
  background-color: #00a2eb;
}

::-webkit-scrollbar-corner {
  background-color: #1b002e;
}

::selection {
  background: #017ab1;
  color: #e8f8ff;
}

::selection:window-inactive {
  background-color: #00a2eb;
  color: #e8f8ff;
}

::-moz-scrollbar {
  width: 14px;
}

::-moz-scrollbar-track {
  background-color: transparent;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
}

::-moz-scrollbar-track-piece:active {
  background-color: #017ab1;
}

::-moz-scrollbar-thumb {
  background-color: #00a2eb;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
}

::-moz-scrollbar-thumb:hover {
  background-color: #e8f8ff;
}

::-moz-scrollbar-thumb:active {
  background-color: #00a2eb;
}

::-moz-scrollbar-button {
  background-color: #00a2eb;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
}

::-moz-scrollbar-button:hover {
  background-color: #e8f8ff;
}

::-moz-scrollbar-button:active {
  background-color: #00a2eb;
}

::-moz-scrollbar-corner {
  background-color: #1b002e;
}

::-moz-selection {
  background: #017ab1;
  color: #e8f8ff;
}

::-moz-selection:window-inactive {
  background-color: #00a2eb;
  color: #e8f8ff;
}

/*///////////////////////// prerequisites /////////////////////////*/
/* css resets */
* {
  font-family: sans-serif;
  transition: all .2s ease-in-out;
}

a {
  text-decoration: none;
  color: #1b002e;
  font-weight: bold;
}

body {
  margin: 0;
  background: #9be0ff;
  margin-top: 4em;
}

ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

header, section, footer {
  display: block;
}

.a-tag {
  cursor: pointer;
  font-weight: bold;
}

.parent {
  position: relative;
}

#loading-icon {
  position: fixed;
  top: 49.5%;
  left: 49.5%;
  margin: 0em auto;
  width: -3em;
  height: 3em;
  border: 0.5em solid #1b002e;
  border-color: #1b002e transparent #1b002e transparent;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

section {
  position: relative;
  padding: 14em 0;
}

.section-colored {
  background: #00a2eb;
}

.page-wrap {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.pad1-top {
  padding: 4em 0 0em;
}

.pad1-even {
  padding: 2em 0 2em;
}

.pad1-bottom {
  padding: 0em 0 4em;
}

.img-contain img {
  max-width: 100%;
  max-height: 100%;
}

.img-cover img {
  max-width: 100%;
  text-align: center;
}

.mid-blue {
  color: #00a2eb;
}

.mid-blue-bg {
  background: #00a2eb;
}

.dim-blue {
  color: #017ab1;
}

.dim-blue-bg {
  background: #017ab1;
}

.light-blue {
  color: #9be0ff;
}

.light-blue-bg {
  background: #9be0ff;
}

.very-light-blue {
  color: #e8f8ff;
}

.very-light-blue-bg {
  background: #e8f8ff;
}

.purple {
  color: #4a007e;
}

.purple-bg {
  background: #4a007e;
}

.dark-purple {
  color: #1b002e;
}

.dark-purple-bg {
  background: #1b002e;
}

.underline {
  text-decoration: underline;
}

.left-justify {
  text-align: left;
}

.center-justify {
  text-align: center;
}

.right-justify {
  text-align: right;
}

.large-text {
  font-size: 3em;
}

.big-text {
  font-size: 2.5em;
}

.med-text {
  font-size: 2em;
}

.inc-md-size-text {
  font-size: 1.5em;
}

.inc-sm-size-text {
  font-size: 1.2em;
}

.bolding {
  font-weight: bold;
}

.col-two {
  width: 50%;
}

.col-three {
  width: 33%;
}

.inliner {
  display: inline-block;
}

.line-spacer {
  margin: .5em auto;
  max-width: 50%;
  height: 4px;
}

.button {
  display: inline-block;
  padding: .5em .5em .4em;
  -ms-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background: #017ab1;
  color: #e8f8ff;
  vertical-align: text-bottom;
}

/*///////////////////////// content styling /////////////////////////*/
/* header ----------------------------*/
header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background: #00a2eb;
  -ms-box-shadow: inset 0 2em 0 0 #4a007e;
  -moz-box-shadow: inset 0 2em 0 0 #4a007e;
  -webkit-box-shadow: inset 0 2em 0 0 #4a007e;
  box-shadow: inset 0 2em 0 0 #4a007e;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 11em;
  height: 100%;
  background: url("../images/logo.png") no-repeat;
  background-size: contain;
}

nav {
  position: absolute;
  bottom: 0;
  right: 2em;
  -ms-box-shadow: 2em 0 0 0 #e8f8ff;
  -moz-box-shadow: 2em 0 0 0 #e8f8ff;
  -webkit-box-shadow: 2em 0 0 0 #e8f8ff;
  box-shadow: 2em 0 0 0 #e8f8ff;
}
nav span {
  display: inline-block;
}

.nav-item {
  display: inline-block;
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  padding: .7em .5em;
  color: #e8f8ff;
  border-left: 2px solid #e8f8ff;
  border-right: 2px solid #e8f8ff;
}
nav > .nav-item:first-child {
  border-left: 0px solid #e8f8ff;
}
.nav-item:last-child {
  border-right: 0px solid #e8f8ff;
}

#sub-nav {
  position: absolute;
  top: 2em;
  left: 0;
  height: 0;
  width: 7.2em;
  overflow-y: hidden;
  background: #00a2eb;
}
#sub-nav li {
  font-size: .8em;
  text-align: center;
}
#sub-nav li span {
  padding: .5em .5em;
  color: #e8f8ff;
}

.hover-fill {
  -ms-box-shadow: inset 0 0em 0 0 #e8f8ff;
  -moz-box-shadow: inset 0 0em 0 0 #e8f8ff;
  -webkit-box-shadow: inset 0 0em 0 0 #e8f8ff;
  box-shadow: inset 0 0em 0 0 #e8f8ff;
}

body.home #home.hover-fill,
body.about #about.hover-fill,
body.portfolio #portfolio.hover-fill,
body.webs #webs.hover-fill,
body.logos #logos.hover-fill,
body.jerseys #jerseys.hover-fill,
body.socials #socials.hover-fill,
body.outros #outros.hover-fill,
body.overlays #overlays.hover-fill,
body.webp #webp.hover-fill,
body.blog #blog.hover-fill,
body.pens #pens.hover-fill {
  -ms-box-shadow: inset 0 -0.2em 0 0 #e8f8ff;
  -moz-box-shadow: inset 0 -0.2em 0 0 #e8f8ff;
  -webkit-box-shadow: inset 0 -0.2em 0 0 #e8f8ff;
  box-shadow: inset 0 -0.2em 0 0 #e8f8ff;
}

/* body ------------------------------*/
#page-insertion {
  z-index: 0;
}

/* home */
.front-page-button {
  margin: 0 auto;
}

.picofme-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/picofme-bg-grey.png") no-repeat;
  background-position: left top;
  background-size: cover;
  opacity: .3;
}

.previews {
  position: relative;
  text-align: center;
}

.previews div {
  margin: 0 auto;
  max-height: 100%;
  text-align: center;
  overflow: hidden;
}

/* footer ----------------------------*/
footer {
  position: relative;
  margin-top: 2em;
  background: #00a2eb;
  height: 7em;
}
footer .std-footer-text {
  position: absolute;
  display: inline-block;
  color: #e8f8ff;
  left: 1em;
  bottom: 1em;
}
footer .std-footer-text span {
  color: #e8f8ff;
}
footer #social-icons {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: .3em .4em .1em;
  -ms-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: #9be0ff;
}
footer #social-icons div {
  display: inline-block;
  margin: .2em;
}

/* hover events -----------------------*/
@media screen and (min-width: 800px) {
  .parent:hover #sub-nav {
    height: 12em;
  }

  .hover-fill:hover {
    -ms-box-shadow: inset 0 -6em 0 0 #e8f8ff !important;
    -moz-box-shadow: inset 0 -6em 0 0 #e8f8ff !important;
    -webkit-box-shadow: inset 0 -6em 0 0 #e8f8ff !important;
    box-shadow: inset 0 -6em 0 0 #e8f8ff !important;
    color: #00a2eb !important;
  }

  .hover-fill:hover .a-tag {
    color: #00a2eb !important;
  }
}
/*//////////////////////// media queries ////////////////////////*/
@media screen and (max-width: 800px) {
  #mo-nav {
    position: fixed;
    top: .3em;
    right: .3em;
    width: 3em;
    height: 3em;
    border: 0.2em solid #e8f8ff;
    border-radius: 10px;
    transitions: all 0s;
  }

  #mo-nav div {
    background: #e8f8ff;
    height: .5em;
    margin: .4em .2em;
    border-radius: 2em;
  }

  nav {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    -ms-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    width: 49.7%;
    background: #9be0ff;
  }
  nav span {
    display: block;
  }

  .nav-item {
    display: block;
    border-left: 2px solid #e8f8ff;
    border-right: 2px solid #e8f8ff;
    background: #00a2eb;
  }
  nav > .nav-item:first-child {
    border-left: 2px solid #e8f8ff;
    border-top: 2px solid #e8f8ff;
  }
  .nav-item:last-child {
    border-right: 2px solid #e8f8ff;
    border-bottom: 2px solid #e8f8ff;
  }

  #sub-nav {
    position: absolute;
    display: none;
    top: 0em;
    left: initial;
    right: 100%;
    height: 0;
    width: 100%;
    border: 2px solid #e8f8ff;
  }

  .open {
    display: block !important;
    height: auto !important;
  }

  footer {
    height: 9em;
  }

  /* hover events -----------------------*/
  .hover-fill:hover {
    -ms-box-shadow: inset 0 -6em 0 0 #e8f8ff !important;
    -moz-box-shadow: inset 0 -6em 0 0 #e8f8ff !important;
    -webkit-box-shadow: inset 0 -6em 0 0 #e8f8ff !important;
    box-shadow: inset 0 -6em 0 0 #e8f8ff !important;
    color: #00a2eb !important;
  }

  .hover-fill:hover .a-tag {
    color: #00a2eb !important;
  }
}
/*//////////////////////// animations ////////////////////////*/
/* loading icon */
#loading-icon {
  /*moz*/
  -moz-animation: spin 0.3s linear 0s infinite normal running;
  /*webkit*/
  -webkit-animation: spin 0.3s linear 0s infinite normal running;
  /*standard*/
  animation: spin 0.3s linear 0s infinite normal running;
}

/*---- media query for $val ----*/
@-moz-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
