<section class="picofme-bg.png">
	<div class="page-wrap">
		<div class="parent col-two img-container center-justify section-colored">
			<img src="images/photo-of-me.png">
		</div><!--
		--><div class="parent col-two align-top">
				<span class="dim-blue big-text bolding">Darryl Dixon</span>
				<h3 class="dim-blue">Web Designer and Developer</h3>
		</div>
	</div>
</section>
<section class="mid-blue-bg">
	<div class="page-wrap left-justify">
		<p>
			Though for the majority of my life I have had an interest in video production I was never too far from the visual and imaginative industry that is graphic design. Less than a year ago I discovered my interest in graphic design, an interest that has evolved deeply into a passion.

			I am self-taught in all that I have learned with graphic design and try constantly to improve my skills and grow into the professional I would like to be. I've come a long way from where I began but my journey has yet to end.

			From there I have branched off into the career of web development, embracing a new skill to have in my toolbelt. It’s a new passion that I’ve acquired and I’ve been working daily to increase my knowledge and improve my skill.

			Now I am primarily pursuing web development. I began that journey at the beginning of October, '14. Since then I have not stopped learning and creating, getting my hands into any form of code everyday, and I must say my progress has been rather smooth. I don't believe in perfection at all times but trying your best to achieve something functional and practical. Ergo, I'm pretty proud of what I've done so far and will continue to improve on what I do and can do.
		</p>
		<h1>Skills</h1>
		<div class="separator dim-blue-bg"></div><!--
		--><ul class="align-top col-two center-justify">
			<li>Web Development</li>
			<li>JavaScript</li>
			<li>Node js w/ Express js</li>
			<li>JQuery</li>
			<li>HTML</li>
			<li>CSS</li>
		</ul><!--
		--><ul class="align-top col-two center-justify">
			<li>Web Design</li>
			<li>Photoshop</li>
			<li>Logo Design</li>
			<li>Illustrator</li>
			<li>CSS Pre-processor (Sass)</li>
		</ul>
		<div class="separator dim-blue-bg"></div>
	</div>
</section>
<section class="mid-blue-bg">
	<p>
		For business inquires of any kind contact me through the convenient <a href="#contact">contact box</a> below, or email me: <a href="mailto:PieceDigitalStudios@Gmail.com" class="external-link">PieceDigitalStudios@Gmail.Com</a>
		And feel free to connect with me on any of the link below!
	</p>
</section>