<section class="picofme-bg">
	<div id="page" class="home"></div>
	<div class="page-wrap">
		<div class="center-justify large-text pad1-bottom dark-blue bolding">
			Piece Digital
			<div class="line-spacer dark-blue-bg"></div>
			Web Designer and Web Developer
		</div>
	</div>
	<div>
</section>
<section class="mid-blue-bg">
	<div class="page-wrap">
		<div class="pad1-bottom big-text center-justify bolding">WHAT I DO</div>
		<div>
			<p class="center-justify inc-md-size-text">
				I focus on making websites for the people, what they see and interact with, and make sure it works well and makes sense.
				<br><br>
				Here on my website you'll find everything you need to learn more about me, including an <span class="a-tag out-link underline dark-blue" data-href="about">about me</span> and <span class="a-tag out-link underline dark-blue" data-href="portfolio">portfolio</span> page.
			</p>
		</div>
		<div class="center-justify pad1-top"><span data-href="about" class="button a-tag">VIEW BIO</span></div>
	</div>
</section>
<section>
	<div class="page-wrap">
		<div class="pad1-bottom big-text center-justify bolding">WHAT I'VE DONE</div>
		<div class="col-two align-top">
			<div>
				<div class="pad1-bottom med-text center-justify bolding">Web Design</div>
				<p class="center-justify inc-md-size-text">
					I've designed and built websites all from scratch, starting with wireframes.
				</p>
			</div>
			<div class="previews">
				<div class="img-contain">
					<div class="margin-1 col-three">
						<img src="images/webs/preview/prev-1.png" class="" alt="meraki hair website screenshot">
					</div><!--
					--><div class="margin-1 col-three">
						<img src="images/webs/preview/prev-2.png" class="" alt="free code chat screenshot">
					</div><!--
					--><div class="margin-1 col-three">
						<img src="images/webs/preview/prev-3.png" class="" alt="piece digital studios mock-up">
					</div>
				</div>
			</div>
			<div class="center-justify pad1-top"><span data-href="websites" class="button a-tag">VIEW WEBSITES PORTFOLIO</span></div>
		</div><!--
		--><div class="col-two align-top">
			<div>
				<div class="pad1-bottom med-text center-justify bolding">Web Development</div>
				<p class="center-justify inc-md-size-text">
					I've built several different web-based projects, exemplifying my level of skill and understanding of the technologies that I use.
				</p>
			</div>
			<div class="previews">
				<div class="img-contain">
					<div class="margin-1 col-three">
						<img src="images/webs/preview/prev-1.png" class="" alt="meraki hair website screenshot">
					</div><!--
					--><div class="margin-1 col-three">
						<img src="images/webs/preview/prev-2.png" class="" alt="free code chat screenshot">
					</div><!--
					--><div class="margin-1 col-three">
						<img src="images/webs/preview/prev-3.png" class="" alt="piece digital studios mock-up">
					</div>
				</div>
			</div>
			<div class="center-justify pad1-top"><span data-href="websites" class="button a-tag">VIEW WEBSITES PORTFOLIO</span></div>
		</div>
	</div>
</section>