<section class="mid-blue-bg">
	<div class="page-wrap">
		<div class="padding-2 big-text center-justify bolding">Meraki Natural Hair</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-md-size-text">
				This project tested my ability to fully design. build and deploy a website from scratch.
				<br><br>
				In the process of building this project, I designed the website from a wire-frame to a mock-up. I hand-coded all aspects of the website from scratch (aside from jQuery), including the sliders, navagation effects, and portfolio.
				<br><br>
				Linked below is the full project on the web.
			</p>
		</div>
		<div class="center-justify pad1-top"><a href="projects/meraki-natural-hair/index.html" class="button">VIEW FULL PROJECT</a></div>
	</div>
</section>