<section class="">
	<div class="page-wrap">
		<div class="dark-blue padding-2 big-text center-justify bolding">Twitch Stream Viewer</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-sm-size-text">
				This project started off as something I would do as part of the <a href="http://freecodecamp.com">Free Code Camp</a> curriculum, but I've taken it on as my own to be something a bit better.
				<br><br>
				To add to the initial project I've added a full stream viewer, complete with the option to view streams in a sort of theater mode, hide/show chat, and add new streamers to the list (temporarily).
				<br><br>
				Linked below is the full project.
			</p>
		</div>
		<div class="center-justify pad1-top"><a href="projects/twitch-stream-viewer/index.html" class="button">VIEW FULL PROJECT</a></div>
	</div>
</section>