<section class="mid-blue-bg">
	<div class="page-wrap">
		<div class="padding-2 big-text center-justify bolding">Weather App</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-md-size-text">
				This project was part of the <a href="http://freecodecamp.com">Free Code Camp</a> curriculum. It's an API challenge to effectively pull and use data from a weather API.
				<br><br>
				Linked below is the full project.
			</p>
		</div>
		<div class="center-justify pad1-top"><span href="projects/weather-app/index.html" class="button">VIEW FULL PROJECT</span></div>
	</div>
</section>