<section>
	<div id="page" class="webp"></div>
	<div class="parent padding-2 center-justify">
		<h1 class="unset">
			<span class="dim-blue big-text bolding">Web Projects</span>
		</h1>
	</div>
	<div class="page-wrap">
		<div class="center-justify col-three">
			<a data-href="static-single-page" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">Static Single-Page</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a data-href="ign-code-foo-challenge" class="item-box2 a-tag"><span class=" bolding inc-md-size-text very-light-blue total-center">IGN 2015 API Challenge</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a data-href="weather-app" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">Weather Information</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a data-href="twitch-stream-viewer" class="item-box2 a-tag"><span class="bolding inc-md-size-text very-light-blue total-center">Twitch Stream Viewer</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a data-href="youtube-video-viewer" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">YouTube Video Viewer</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a data-href="meraki-natural-hair" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">Meraki Natural Hair Websit</span></a>
		</div>
	</div>
</section>