<section>
	<div id="page" class="webp"></div>
	<div class="parent padding-2 center-justify">
		<h1 class="unset">
			<span class="dim-blue big-text bolding">Web Projects</span>
		</h1>
	</div>
	<div class="page-wrap">
		<div class="center-justify col-three">
			<a href="projects/static-single-page/main.html" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">Static Single-Page</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a href="projects/twitch-user-lister/index.html" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">Twitch Streamer Lister</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a href="projects/weather-app/index.html" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">Weather Information</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a href="projects/new-tab/index.html" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">Custom New Tab</span></a>
		</div>
	</div>
</section>